<div class="forgot-password">
  <div class="content-forgot-password">
    <header>
      <img src="./assets/logo-white.png" alt="" />
      <h1>Esqueci Minha Senha</h1>
      <span class="close" (click)="goBack()">
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
            fill="#FFFAFA"
          />
        </svg>
      </span>
    </header>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="formSubmit()">
      <div *ngIf="!isSend">
        <p>
          Digite seu E-mail de cadastro e clique em enviar. Nós enviaremos um
          e-mail com as instruções para você cadastrar uma nova senha.
        </p>
        <input formControlName="email" type="text" />
        <div class="error" *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
          <span>Email está incorreto!</span>
        </div>
        <button [disabled]="forgotPasswordForm.valid == false ? true : false" type="submit">Resetar Senhar</button>
      </div>
      <div *ngIf="isSend">
        <p>
          Uma mensagem foi enviada para o e-mail informado, por favor,
          confira se a mensagem chegou e siga os passos descritos para resetar a sua senha.
        </p>
      </div>
    </form>
  </div>
</div>
