<div class="content">
  <div class="header">
    <h1>Lista de Administradores</h1>
    <a class="btn-link" [routerLink]="['/admin/client-admin']">+ Cadastro Novo Administrador</a>
  </div>
  <form action="">
    <div class="icon">
      <img src="./assets/search.png" alt="">
    </div>
    <input type="text">
  </form>
  <table>
    <tr>
      <th>Nome do Grupo</th>
      <th>Administrador</th>
      <th>E-mail Administrador</th>
    </tr>
    <tr *ngFor="let admin of admins" >
      <td>{{admin.grupo?.grupo}}</td>
      <td>{{admin.usuario}}</td>
      <td>{{admin.email}}</td>
    </tr>
  </table>
</div>
