<nav>
  <a class="item active">
    <div class="icon">
      <img src="/assets/svg/home.svg" alt="" />
    </div>
    <p>Home</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/mail.svg" alt="" />
    </div>
    <p>Solicitações</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/document.svg" alt="" />
    </div>
    <p>Documentos</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/document-pen.svg" alt="" />
    </div>
    <p>Certidão Negativa</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/google-sites.svg" alt="" />
    </div>
    <p>Informativo</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/folder.svg" alt="" />
    </div>
    <p>Protocolo</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/edit-property.svg" alt="" />
    </div>
    <p>Processo</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/time-limit.svg" alt="" />
    </div>
    <p>Tempo de <br> Retenção de Documentos</p>
  </a>
  <a class="item" (click)="openLink('/admin/perfil-permissoes')" >
    <div class="icon">
      <img src="/assets/svg/maintenance.svg" alt="" />
    </div>
    <p>Configurações</p>
  </a>
  <a class="item">
    <div class="icon">
      <img src="/assets/svg/document-pen.svg" alt="" />
    </div>
    <p>Integração de Dados</p>
  </a>
</nav>
